<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="perform_login" method="POST">
        <label for="username">User Name</label>
        <input id="username" name="username" type="text">

        <label for="password">Password</label>
        <input id="password" name="password" type="password">

        <!-- <input type="submit" name="submit" value="submit"/> -->
        <button type="submit">login</button>
    </form>
</body>
</html>